{% extends "main/base.html" %}
{% load static %}
{% block content %}

<body>
   <div class="container__main pad-0 w-1920">
      <header class="header-wavy">
         <div class="container__content header-wavy__inner">
            <img src="{% static 'images/header/Ishim__logo.png' %}" alt="Sorry got some error" class="header__pic"
               title="Ishim">
            <div class="header__loc">
               <select name="interface__lang" id=""
               onchange="window.location.href=this.value" autocomplete="off">
                  <option value="/" class="header__loc__current">RU</option>
                  <option value="/tm" class="header__loc__current" selected>TM</option>
               </select>
            </div>
         </div>
      </header>

      <div class="reg-h-t container__content">
         <h1 class="reg-h-t__title m-0auto">Ulanyjy görnüşini saýlaň</h1>
         <a class="reg-h-t__btn wh__btn" href="{% url 'create-enterpreneuer-tm' %}">Şahsy adam</a>
         <a class="reg-h-t__btn green__btn" href="{% url 'create-company-tm' %}">kompaniýa, gurama</a>
      </div>
   </div>
   {% endblock %}