{% extends "main/base.html" %}
{% load static %}
{% block content %}
<div class="container__main pad-0 w-1920">
   {% include 'tm_main/header_employee.html' %}


   <div class="reg-user-conf container__content">
      <div class="reg-user-conf__inner">
         <div class="reg-user-conf__content">
            <h1 class="reg-user-conf__title">Rezýume döretmek</h1>

            <form action="" class="reg-user-conf__form" method="post">
               {% csrf_token %}
               <div class="user-full-name">
                  <div class="user-title">
                     <h2>Ady</h2>
                     <h2>Familiýa</h2>
                  </div>
                  <input required type="text" class="user-name" value="" name="first_name" id="user__name">

                  <input required type="text" class="user-surname" value="" name="last_name" id="user__surname">
               </div>

               <div class="user-birth-date">
                  <h2>Doglan gün</h2>
                  <input required type="tel" class="user-bd__date user-bd__item" name="birth_date__date"
                     id="user__bd__date" value="" placeholder="2">
                  <select required name="birth_date__month" id="user__bd__mon" class="user-bd__item user-select-bg">
                     <option value="01">Ýanwar</option>
                     <option value="02">Fewral</option>
                     <option selected value="03">Mart</option>
                     <option value="04">Aprel</option>
                     <option value="05">Maý</option>
                     <option value="06">Iýun</option>
                     <option value="07">Iýul</option>
                     <option value="08">Awgust</option>
                     <option value="09">Sentýabr</option>
                     <option value="10">Oktýabr</option>
                     <option value="11">Noýabr</option>
                     <option value="12">Dekabr</option>
                  </select>

                  <select required name="birth_date__year" id="user__bd__year" class="user-bd__item user-select-bg">
                     <option value="2004">2004</option>
                     <option value="2003">2003</option>
                     <option selected value="2002">2002</option>
                     <option value="2001">2001</option>
                     <option value="2000">2000</option>
                     <option value="1999">1999</option>
                     <option value="1998">1998</option>
                     <option value="1997">1997</option>
                     <option value="1996">1996</option>
                     <option value="1995">1995</option>
                     <option value="1994">1994</option>
                     <option value="1993">1993</option>
                     <option value="1992">1992</option>
                     <option value="1991">1991</option>
                     <option value="1990">1990</option>
                     <option value="1989">1989</option>
                     <option value="1988">1988</option>
                     <option value="1987">1987</option>
                     <option value="1986">1986</option>
                     <option value="1985">1985</option>
                     <option value="1984">1984</option>
                     <option value="1983">1983</option>
                     <option value="1982">1982</option>
                     <option value="1981">1981</option>
                     <option value="1980">1980</option>
                     <option value="1979">1979</option>
                     <option value="1978">1978</option>
                     <option value="1977">1977</option>
                     <option value="1976">1976</option>
                     <option value="1975">1975</option>
                     <option value="1974">1974</option>
                     <option value="1973">1973</option>
                     <option value="1972">1972</option>
                     <option value="1971">1971</option>
                     <option value="1970">1970</option>
                     <option value="1969">1969</option>
                     <option value="1968">1968</option>
                     <option value="1967">1967</option>
                     <option value="1966">1966</option>
                     <option value="1965">1965</option>
                     <option value="1964">1964</option>
                     <option value="1963">1963</option>
                     <option value="1962">1962</option>
                     <option value="1961">1961</option>
                     <option value="1960">1960</option>
                     <option value="1959">1959</option>
                     <option value="1958">1958</option>
                     <option value="1957">1957</option>
                  </select>
               </div>

               <div class="user-info-block user-mob-block">
                  <h2>Telefon</h2>
                  <div class="user-mob-pic-wrapper">
                     <img src="{% static 'images/info__pic.svg' %}" alt="Sorry got some error" class="user-mob-pic">
                     <p class="user-mob-info">
                        Siziň ýa-da kadrlar bölüminiň müdiri bilen habarlaşmak üçin telefon belgilerini ýazyň
                     </p>
                  </div>
                  <input required type="tel" class="user-text" value="+993 " name="mobile_num" id="user__number">
               </div>

               <div class="user-info-block">
                  <h2>elektron poçta</h2>
                  <input type="text" class="user-text" value="" name="email" id="user__email">
               </div>
               <div class="user-info-block" id="user__registration__wrapper">
                  <h2>ýaşaýan ýeriň ýazgysy </h2>
                  <select required name="registration" id="user__registration" class="user-text user-select-bg">
                     <option value="Aşgabat">Aşgabat</option>
                     <option value="Anau">Anau</option>
                     <option value="Baharden">Baharden</option>
                     <option value="Bizmein">Bizmein</option>
                     <option value="Gökdepe">Gökdepe</option>
                     <option value="Kaka">Kaka</option>
                     <option value="Tejen">Tejen</option>
                     <option value="Balkanabat">Balkanabat</option>
                     <option value="Bereket">Bereket</option>
                     <option value="Çardjou">Çardjou</option>
                     <option value="Mary">Mary</option>
                     <option value="Daşoguz">Daşoguz</option>
                     <option value="anothr__city">wajib däl</option>
                  </select>
               </div>

               <div class="user-info-block">
                  <h2>Jyns</h2>
                  <div class="user-gender-block" id="gender__block__wrapper">
                     <input required type="radio" id="man-id" value="Erkek" name="sex">
                     <label for="man-id" class="user-gender">Erkek</label>

                     <input required type="radio" id="woman-id" value="Aýal" name="sex">
                     <label for="woman-id" class="user-gender">Aýal</label>
                  </div>
               </div>

               <div class="user-info-block">
                  <h2 class="fw500">Wezipe </h2>
                  <h3>Haýsy kär gözleýarsiňiz?</h3>
                  <div class="user-inp-blok">
                     <input required type="text" class="user-text" value="" placeholder="" name="position"
                        id="user__position">
                  </div>
               </div>

               <div class="user-info-block" id="industry__wrapper">
                  <h2>Işiň ugry</h2>
                  <select required name="sphere" id="user__industry" class="user-text user-select-bg">
                     <option value="IT, Dizaýn">IT, Dizaýn</option>
                     <option value="Maliýe, buhgalteriýa">Maliýe, buhgalteriýa</option>
                     <option value="Sungat, tomaşa, metbugat">Sungat, tomaşa, metbugat</option>
                     <option value="Gözellik, sport">Gözellik, sport</option>
                     <option value="Logistika">Logistika</option>
                     <option value="- Marketing, Söwda, PR, SMM">- Marketing, Söwda, PR, SMM</option>
                     <option value="Lukmançylyk ">Lukmançylyk</option>
                     <option value="Energetika">Energetika</option>
                     <option value="Bilim">Bilim</option>
                     <option value="Gorag, howpsuzlyk">Gorag, howpsuzlyk</option>
                     <option value="Gurluşyk">Gurluşyk</option>
                     <option value="Syýahatçylyk">Syýahatçylyk</option>
                     <option value="Enjam hyzmaty">Enjam hyzmaty</option>
                     <option value="Hukuk">Hukuk</option>
                     <option value="Başga">Başga</option>
                  </select>

               </div>

               <div class="user-info-block">
                  <h2>Aýlyk</h2>
                  <div class="user-inp-blok">
                     <input required type="text" class="user-text" value="" placeholder="Укажите желаемую зарплату"
                        name="min_salary" id="user__salary">
                  </div>
               </div>

               <div class="user-info-block">
                  <h2 class="fw500">işlemek</h2>
                  <div class="user__exp__block" id="user__busyness__wrapper">
                     <input required type="radio" id="empl1" value="doly işlemek" name="busyness">
                     <label for="empl1" class="user__exp__item">doly işlemek</label>

                     <input required type="radio" id="empl2" value="taslama işi" name="busyness">
                     <label for="empl2" class="user__exp__item">taslama işi</label>

                     <input required type="radio" id="empl3" value="ýarym stawka işlemek" name="busyness">
                     <label for="empl3" class="user__exp__item">ýarym stawka işlemek</label>

                     <input required type="radio" id="empl4" value="tejribe" name="busyness">
                     <label for="empl4" class="user__exp__item">tejribe</label>
                  </div>
               </div>

               <div class="user-info-block">
                  <h2 class="fw500">Iş wagty </h2>
                  <div class="user__exp__block" id="user__schedule__wrapper">
                     <input required type="radio" id="schedule1" value="doly iş güni" name="work_graph">
                     <label for="schedule1" class="user__exp__item">doly iş güni</label>

                     <input required type="radio" id="schedule2" value="smenaly iş" name="work_graph">
                     <label for="schedule2" class="user__exp__item">smenaly iş</label>

                     <input required type="radio" id="schedule3" value="amatly iş sagady" name="work_graph">
                     <label for="schedule3" class="user__exp__item">amatly iş sagady</label>

                     <input required type="radio" id="schedule4" value="frilans" name="work_graph">
                     <label for="schedule4" class="user__exp__item">frilans</label>
                  </div>
               </div>

               <div class="user-info-block" id="user__exp__btn__wrap">
                  <div id="user__exp__wrap">
                     <h2 class="fw500">Iş tejribesi</h2>
                     <div class="user__exp__block" id="exp_btn_wrapper">
                        <input required type="radio" id="empl_exp1" value="Нет опыта" name="empl_exp">
                        <label for="empl_exp1" class="user__exp__item">Iş tejribesi ýok</label>

                        <input required type="radio" id="empl_exp2" value="Есть опыт" name="empl_exp">
                        <label for="empl_exp2" class="user__exp__item">Iş tejribesi bar</label>
                     </div>
                  </div>
               </div>


               <div class="user-info-block" id="user__educ__btn__wrap">
                  <div class="" id="user__educ__container">
                     <div class="user__educ__wrapper" id="user__educ__wrap">
                        <h2 class="fw500">Bilim</h2>
                        <div class="user__exp__block" id="user__education__wrapper">
                           <input required type="radio" id="educ1" value="orta" name="education">
                           <label for="educ1" class="user__exp__item">orta</label>

                           <input required type="radio" id="educ2" value="ýörite orta" name="education">
                           <label for="educ2" class="user__exp__item">ýörite orta</label>

                           <input required type="radio" id="educ3" value="gutarylmadyk ýokary " name="education">
                           <label for="educ3" class="user__exp__item">gutarylmadyk ýokary </label>

                           <input required type="radio" id="educ4" value="ýokary" name="education">
                           <label for="educ4" class="user__exp__item">ýokary</label>

                           <input required type="radio" id="educ5" value="magistratura" name="education">
                           <label for="educ5" class="user__exp__item">magistratura</label>

                           <input required type="radio" id="educ6" value="ylymlaryň kandidaty" name="education">
                           <label for="educ6" class="user__exp__item">ylymlaryň kandidaty</label>

                           <input required type="radio" id="educ7" value="ylymlaryň doktory" name="education">
                           <label for="educ7" class="user__exp__item">ylymlaryň doktory</label>
                        </div>


                        <h2>Okuw jaýy</h2>
                        <input type="text" class="user-text user__edu__instance" value="" name="establishment"
                           id="user__edu__inst">




                        <h2>Fakultet</h2>
                        <input type="text" class="user-text" value="" name="faculty" id="faculty">



                        <h2>Hünär</h2>
                        <input type="text" class="user-text user__specialize" value="" name="specialization"
                           id="user__spec">



                        <div class="user__time">
                           <div class="user__titles">
                              <h2>Başlan ýyly</h2>
                              <h2>Tamamlan ýyly</h2>
                           </div>
                           <div class="user__time__inner">
                              <select name="start_year_edu" id="user__time__educ__start__year"
                                 class="user__time__item user-select-bg user__time__start__year__educ">
                                 <option value="2019">2019</option>
                                 <option value="2018">2018</option>
                                 <option value="2017">2017</option>
                                 <option value="2016">2016</option>
                                 <option value="2015">2015</option>
                                 <option value="2014">2014</option>
                                 <option value="2013">2013</option>
                                 <option value="2012">2012</option>
                                 <option value="2011">2011</option>
                                 <option value="2010">2010</option>
                                 <option value="2009">2009</option>
                                 <option value="2008">2008</option>
                                 <option value="2007">2007</option>
                                 <option value="2006">2006</option>
                                 <option value="2005">2005</option>
                                 <option value="2004">2004</option>
                                 <option value="2003">2003</option>
                                 <option selected value="2002">2002</option>
                                 <option value="2001">2001</option>
                                 <option value="2000">2000</option>
                                 <option value="1999">1999</option>
                                 <option value="1998">1998</option>
                                 <option value="1997">1997</option>
                                 <option value="1996">1996</option>
                                 <option value="1995">1995</option>
                                 <option value="1994">1994</option>
                                 <option value="1993">1993</option>
                                 <option value="1992">1992</option>
                                 <option value="1991">1991</option>
                                 <option value="1990">1990</option>
                                 <option value="1989">1989</option>
                                 <option value="1988">1988</option>
                                 <option value="1987">1987</option>
                                 <option value="1986">1986</option>
                                 <option value="1985">1985</option>
                                 <option value="1984">1984</option>
                                 <option value="1983">1983</option>
                                 <option value="1982">1982</option>
                                 <option value="1981">1981</option>
                                 <option value="1980">1980</option>
                                 <option value="1979">1979</option>
                                 <option value="1978">1978</option>
                                 <option value="1977">1977</option>
                                 <option value="1976">1976</option>
                                 <option value="1975">1975</option>
                              </select>

                              <div class="horizontal__row"></div>


                              <select name="end_year_edu" id="user__time__educ__end__year"
                                 class="user__time__item user-select-bg user__time__start__year__educ">
                                 <option value="2019">2019</option>
                                 <option value="2018">2018</option>
                                 <option value="2017">2017</option>
                                 <option value="2016">2016</option>
                                 <option value="2015">2015</option>
                                 <option value="2014">2014</option>
                                 <option value="2013">2013</option>
                                 <option value="2012">2012</option>
                                 <option value="2011">2011</option>
                                 <option value="2010">2010</option>
                                 <option value="2009">2009</option>
                                 <option value="2008">2008</option>
                                 <option value="2007">2007</option>
                                 <option value="2006">2006</option>
                                 <option value="2005">2005</option>
                                 <option value="2004">2004</option>
                                 <option value="2003">2003</option>
                                 <option selected value="2002">2002</option>
                                 <option value="2001">2001</option>
                                 <option value="2000">2000</option>
                                 <option value="1999">1999</option>
                                 <option value="1998">1998</option>
                                 <option value="1997">1997</option>
                                 <option value="1996">1996</option>
                                 <option value="1995">1995</option>
                                 <option value="1994">1994</option>
                                 <option value="1993">1993</option>
                                 <option value="1992">1992</option>
                                 <option value="1991">1991</option>
                                 <option value="1990">1990</option>
                                 <option value="1989">1989</option>
                                 <option value="1988">1988</option>
                                 <option value="1987">1987</option>
                                 <option value="1986">1986</option>
                                 <option value="1985">1985</option>
                                 <option value="1984">1984</option>
                                 <option value="1983">1983</option>
                                 <option value="1982">1982</option>
                                 <option value="1981">1981</option>
                                 <option value="1980">1980</option>
                                 <option value="1979">1979</option>
                                 <option value="1978">1978</option>
                                 <option value="1977">1977</option>
                                 <option value="1976">1976</option>
                                 <option value="1975">1975</option>
                              </select>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="add__lang">
                     <span id="addnew">+</span>
                     <span id="addnew">Bilim goş</span>
                  </div>
               </div>

               <div class="user-info-block" id="user__progs__btn__wrapper">
                  <h2>Programmalar bilimi</h2>

                  <div id="user__progs__wrapper">
                     <input type="text" class="user-text user__progs" value="" name="program" id="user__prog"
                        placeholder="1С">
                  </div>
                  <div class="add__lang">
                     <span id="addnew">+</span>
                     <span id="addnew">başga programma goş</span>
                  </div>
               </div>
               <div class="user-info-block" id="user__lang__btn__wrapper">
                  <h2 class="fw500 user-info-block-title">Diller bilimi</h2>

                  <div id="user__lang__wrap">
                     <div class="user-info-block-subtitle">
                        <div>Dil</div>
                        <div>bilim derejesi</div>
                     </div>

                     <div class="user-info-block__lang__item">
                        <input type="text" class="user-info-block__lang__item__txt" name="language" id="user__lang"
                           placeholder="Türkmen dili">
                        <select name="level" id="lang__lev" class="user-info-block__lang__item__select">
                           <option value="esasy">esasy</option>
                           <option value="gepleşik">gepleşik</option>
                           <option value="ýokary dereje">ýokary dereje</option>
                           <option value="tehniki taýdan">tehniki taýdan</option>
                        </select>
                     </div>
                  </div>



                  <div class="add__lang">
                     <span id="addnew">+</span>
                     <span id="addnew">başga dil goş</span>
                  </div>
               </div>

               <div class="user-info-block ">
                  <h2 class="fw500 user-info-block-title">
                     Özüm barada
                  </h2>
                  <div class="user__info__block__txt__area__wrapper">
                     <textarea name="about" id="user__about" class="user-info-block-txtarea"
                        placeholder="Iş berijiler üçin peýdaly bolup biljek bilimleriňiz, başarnyklaryňyz we şahsy häsiýetleriňiz barada maglumat ýazyň"></textarea>
                  </div>
               </div>
               <input required type="submit" class="continue__btn green__btn m-0auto" id="btn" value="sakla we paýlaş"
                  name="continue">
      
               <a href="" class="skip__link m-0auto">
                  Geçmek
               </a>
               </form>

      </div>
   </div>
</div>
</div>
<script src="{% static 'tm_scripts/header.js' %}"></script>
<script src="{% static 'tm_scripts/create__res.js' %}"></script>
<script src="{% static 'tm_scripts/select_another_city_registry.js' %}"></script>
{% endblock %}