{% extends "main/base.html" %}
{% load static %}
{% block content %}
<div class="container__main pad-0 w-1920">
   {% include 'tm_main/header_employee.html' %}
   <div class="container__content">
      <div class="my__vac">
         <h1 class="my__vac__title">Meniň rezýumelarym</h1>
         {% for cv in cv_list %}
         <div class="my__vac__item">

            <h2 class="my__vac__item__title"><a href="{% url 'my-cv-info-tm' cv.id %}">{{ cv.position }}</a></h2>
            <h3 class="my__vac__item__subtitle">{{ cv.min_salary }} manat.</h3>

            <a href="" class="amount__resp">Bu rezýumeny {{ cv.chosencv_set.count }} adam belledi</a>

            <span>Rezýume {{ cv.creation_date|date:"m.d"}} iyulda täzelendi</span>

            <a href="{% url 'refresh-cv-tm' cv.id %}" class="refresh__in__search__btn green__btn">Gözlegde başda çyk</a>

            <a href="{% url 'cv-edit-tm' cv.id %}" class="edit__btn purp__btn">Üýtegetmek</a>

            <a href="{% url 'suitable-vacancies-tm' cv.id %}" class="suitable__link">{{ cv.suitable_vacancies.count }}
               laýyk boş wezipe tapyldy</a>
         </div>
         {% endfor %}
         <a href="{% url 'create-cv-tm' %}" class="add__vac"><span>+</span>Täze rezýyme döretmek</a>
      </div>
   </div>
</div>
<script src="{% static 'tm_scripts/header.js' %}"></script>
{% endblock %}