{% extends "main/base.html" %}
{% load static %}
{% block content %}
<div class="container__main pad-0 w-1920">
   <header class="header-wavy">
      <div class="container__content header-wavy__inner">
         <img src="{% static 'images/header/Ishim__logo.png' %}" alt="Sorry got some error" class="header__pic">
         <div class="header__loc">
            <form action="">
               <select name="interface__lang" id="" onchange="window.location.href=this.value" autocomplete="off">
                  <option value="/" class="header__loc__current">RU</option>
                  <option value="/tm" class="header__loc__current" selected>TM</option>
               </select>
            </form>
         </div>
      </div>
   </header>

   <div class="reg-g-c container__content">
      <div class="reg-g-c__inner">
         <h1 class="reg-g-c__title">Elektron poçtaňyza ssylka iberdik, şahsyýetiňizi tassyklamak üçin, ssylka basyň</h1>

         <a class="reg-g-c__btn purp__btn" href="{% url 'login-tm' %}">Girmek</a>
      </div>
   </div>


</div>
{% endblock %}