{% load static %}
<header class="header">
   <div class="container__content">
      <div class="header__content">
         <section class="header__sec__type3 ">
            <a href="{% url 'home-tm' %}"><img src="{% static 'images/header/Ishim__logo.png' %}"
                  alt="Sorry got some error" class="header__pic "></a>

         </section>
         <section class="header__sec__type3">
            <form action="{% url 'search-vacancy' %}">
               <div class="nav">
                  <button type="submit" name="search_btn">
                     <img src="{% static 'images/search__ic.svg' %}" alt="Sorry">
                  </button>
                  <input type="text" class="nav__inp" placeholder="Hünär, wezipe ýa-da açar sözler"
                     name="position">
                  <input type="text" class="nav__inp__small" placeholder="Hünär" name="position">
               </div>
               <a href="{% url 'wide-search-vacancy-tm' %}">
                  <img src="{% static 'images/nav__setting.png' %}" alt="Sorry" class="nav__set__pic">
               </a>
            </form>
         </section>

         <section class="header__sec__type3">
            <div class="header__user__pic__wrap">
               <img src="{% static 'images/user__def__ic.png' %}" alt="Sorry" class="header__user__pic">
               <div class="user__profile">
                  <div class="user__profile__item">
                     <a href="" class="user__profile__pic">
                        <img src="{% static 'images/user__profile__ico.png' %}" alt="Sorry got some error" title="User">
                     </a>

                     <h1 class="user__profile__title">{{ user.employee.first_name }} {{ user.employee.last_name }}</h1>
                  </div>
                  <div class="user__profile__item">

                     <a href="{% url 'my-cv-tm' %}" class="user__profile__link">Meniň rezýumelarym</a>

                     <a href="{% url 'profile-tm' %}" class="user__profile__link">Şahsy maglumatlar</a>

                     <a href="{% url 'my-responses-tm' %}" class="user__profile__link">Meniň jogaplarym</a>

                     <a href="" class="user__profile__link">Hödürlemeler</a>

                     <a href="{% url 'employee-chosen-tm' %}" class="user__profile__link">Saýlananlar</a>

                  </div>
                  <div class="user__profile__item">
                     <a href="{% url 'logout-tm' %}" class="user__profile__last__link">Sahypadan çykmak</a>
                  </div>
               </div>
            </div>
            <button class="hamburger hamburger-line">
               <span></span>
            </button>
         </section>
      </div>
   </div>
</header>
<div class="container__content">
   <div class="nav__burger disappear">
      <h1 class="nav__title">Menu</h1>

      <a href="{% url 'company-catalog-tm' %}" class="nav__link">Kompaniýalar katalogy</a>

      <a href="{% url 'articles-tm' %}" class="nav__link">Makalalar</a>

      <select name="interface__lang" onchange="window.location.href=this.value" autocomplete="off"
      class="nav__link">
         <option selected disabled hidden class="header__loc__current">Dil</option>
         <option value="/" class="header__loc__current">RU</option>
         <option value="/tm" class="header__loc__current">TM</option>
      </select>

      <a href="{% url 'search-histroy-employee-tm' %}" class="nav__link">Siziň gözlegleriňiz</a>

      <a href="" class="nav__link">Ulanyş şertleri</a>

      <a href="" class="nav__link">Biz bilen habarlaşyň</a>
   </div>
</div>