{% extends "main/base.html" %}
{% load static %}
{% block content %}
<svg display="none">
   <symbol id="favorites__str" viewBox="0 0 28 27">
      <g>
         <path
            d="M14 1L18.017 9.13603L27 10.4487L20.5 16.7782L22.034 25.72L14 21.496L5.966 25.72L7.5 16.7782L1 10.4487L9.983 9.13603L14 1Z"
            stroke="#C4C4C4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </g>
   </symbol>
</svg>


<div class="container__main pad-0 w-1920">
   <header class="header2">
      <div class="container__content">
         <div class="header__content">
            <section class="header__sec">
               <img src="{% static 'images/header/Ishim__logo.png' %}" alt="Sorry got some error"
                  class="header__pic header__pic__dn" title="Header Logo">
               <img src="{% static 'images/header/header__logo2.png' %}" alt="Sorry got some error" class="header__pic2"
                  title="Header Logo">
               <div class="header__loc header__loc2">
                  <select name="interface__lang" id="" onchange="window.location.href=this.value" autocomplete="off">
                     <option value="/" class="header__loc__current">RU</option>
                     <option value="/tm" class="header__loc__current" selected>TM</option>
                  </select>
               </div>

            </section>
            <section class="header__sec">
               <div class="header__social">
                  <a href="" class="header__link">
                     <img src="{% static 'images/facebook__ic__black.svg' %}" alt="Sorry got some error"
                        class="header__social__pic" title="Facebook icon">
                  </a>
                  <a href="" class="header__link">
                     <img src="{% static 'images/inst__ic__black.svg' %}" alt="Sorry got some error"
                        class="header__social__pic" title="Instagram icon">
                  </a>
                  <a href="" class="header__link">
                     <img src="{% static 'images/imo__ic__black.svg' %}" alt="Sorry got some error"
                        class="header__social__pic" title="Imo icon">
                  </a>
               </div>

               <div class="header__btns">
                  {% if not user.is_authenticated %}
                  <a href="{% url 'login-tm' %}" class="header__btn purp__btn">Içeri gir</a>
                  <a href="{% url 'register-tm' %}" class="header__btn purp__btn">Hasaba al </a>
                  {% else %}
                  <a href="{% url 'logout-tm' %}" class="header__btn purp__btn">Sahypadan çykmak</a>
                  {% endif %}
               </div>
            </section>
         </div>
      </div>
   </header>

   <div class="intro">
      <div class="container__content">
         <div class="intro__inner">
            <div class="intro__desc">
               <div class="intro__desc__btns">
                  <a href="" class="intro__desc-btn" id="employee">Iş gözleýji</a>
                  <a href="" class="intro__desc-btn" id="hirer">Iş beriji</a>
               </div>

               <div class="intro__desc__inner">
                  <div class="intro__desc__item">
                     <p class="intro__desc__item__txt" id="u_t_txt">
                        Işim.com-da boş iş wezipeleri ýerleşdiriň we biz bilen size laýyk işgärleri tapyň. Ishim - täze
                        işe alyş usuly.
                     </p>
                     <a href="{% url 'create-vacancy-tm' %}" class="intro__desc__item__btn" id="hirer_btn">Wakansiýa
                        döretmek</a>
                     <a href="{% url 'create-cv-tm' %}" class="disappear" id="employee_btn">Rezýume döretmek</a>
                  </div>
                  <img src="{% static 'images/intro/Pappers.png' %}" alt="Sorry got some error"
                     class="intro__desc__item__pic">
               </div>
            </div>

            <div class="intro__features">
               <h1 class="intro__features__title">Işim siziň üçin nähili hyzmatlary edýär</h1>
               <div class="intro__features__inner">

                  <div class="intro__features__item">
                     <div class="intro__features__item__block__logo">
                        <img src="{% static 'images/intro/bag.svg' %}" alt="Sorry got some error"
                           class="intro__features__item__logo">
                     </div>
                     <div class="intro__features__item__content">
                        <span class="intro__features__item__title">Iş</span>
                        <p class="intro__features__item__txt">
                           Filtrler bilen çalt we amatly işgärler gözlegi
                        </p>
                     </div>
                  </div>

                  <div class="intro__features__item">
                     <div class="intro__features__item__block__logo">
                        <img src="{% static 'images/intro/list.svg' %}" alt="Sorry got some error"
                           class="intro__features__item__logo">
                     </div>
                     <div class="intro__features__item__content">
                        <span class="intro__features__item__title">Gyzykly makalalar</span>
                        <p class="intro__features__item__txt">
                           Biznes dünýädäki we öz ugruňyzdaky wakalar
                        </p>
                     </div>
                  </div>


                  <div class="intro__features__item">
                     <div class="intro__features__item__block__logo">
                        <img src="{% static 'images/intro/jingle.svg' %}" alt="Sorry got some error"
                           class="intro__features__item__logo">
                     </div>
                     <div class="intro__features__item__content">
                        <span class="intro__features__item__title">Habarlary alyň</span>
                        <p class="intro__features__item__txt">
                           Boş wezipeleriňize ýüz tutýanlar barada jogap habarnamalary
                        </p>
                     </div>
                  </div>

               </div>
            </div>
         </div>
      </div>
   </div>


   <div class="result">
      <div class="container__content">
         <div class="result__inner">
            <aside class="res__slbar">
               <div class="res__slbar__inner">
                  <div class="res__slbar__content">
                     <div class="res__slbar__item">
                        <p class="res__slbar__item__title">Region</p>
                        {% for city in city_data %}
                        <div class="res__slbar__item__section">
                           <span class="res__slbar__left-p">{{ city.registration }}</span>
                           <span class="res__slbar__right-p">{{ city.dcount }}</span>
                        </div>
                        {% endfor %}
                        <div class="res__slbar__item__section">
                           <span class="res__slbar__left-p">Ашхабад</span>
                           <span class="res__slbar__right-p">1070</span>
                        </div>
                        <div class="res__slbar__item__section">
                           <span class="res__slbar__left-p">Балканы</span>
                           <span class="res__slbar__right-p">805</span>
                        </div>
                        <div class="res__slbar__item__section">
                           <span class="res__slbar__left-p">Мары</span>
                           <span class="res__slbar__right-p">501</span>
                        </div>
                     </div>

                     <div class="res__slbar__item">
                        <p class="res__slbar__item__title">Talap edilýän aýlyk</p>
                        <div class="res__slbar__item__section">
                           <span class="res__slbar__left-p">1000</span>
                           <span class="res__slbar__right-p">{{ payment_data.one }}</span>
                        </div>
                        <div class="res__slbar__item__section">
                           <span class="res__slbar__left-p">2000</span>
                           <span class="res__slbar__right-p">{{ payment_data.two }}</span>
                        </div>
                        <div class="res__slbar__item__section">
                           <span class="res__slbar__left-p">3000</span>
                           <span class="res__slbar__right-p">{{ payment_data.three }}</span>
                        </div>
                        <div class="res__slbar__item__section">
                           <span class="res__slbar__left-p">4000</span>
                           <span class="res__slbar__right-p">{{ payment_data.four }}</span>
                        </div>
                        <div class="res__slbar__item__section">
                           <span class="res__slbar__left-p">5000</span>
                           <span class="res__slbar__right-p">{{ payment_data.five }}</span>
                        </div>
                     </div>

                     <div class="res__slbar__item">
                        <p class="res__slbar__item__title">Pudak</p>
                        {% for sphere in spheres %}
                        <div class="res__slbar__item__section">
                           <span class="res__slbar__left-p">{{ sphere.sphere }}</span>
                           <span class="res__slbar__right-p">{{ sphere.dcount }}</span>
                        </div>
                        {% endfor %}
                        <div class="res__slbar__item__section">
                           <span class="res__slbar__left-p">Бугалтерия</span>
                           <span class="res__slbar__right-p">957</span>
                        </div>
                        <div class="res__slbar__item__section">
                           <span class="res__slbar__left-p">IT,интернет</span>
                           <span class="res__slbar__right-p">816</span>
                        </div>
                        <div class="res__slbar__item__section">
                           <span class="res__slbar__left-p">Продажи</span>
                           <span class="res__slbar__right-p">512</span>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="res__slbar__learn-more">
                  <div class="res__slbar__learn-more__inner">
                     <h2 class="res__slbar__learn-more__title">Makalalar</h2>
                     {% for article in articles %}
                     <a href="" class="res__slbar__learn-more__item">
                        <img src="{{ article.image.url }}" alt="Sorry" class="l-m__pic" width="50" height="50">
                        <p class="l-m__txt">
                           {{ article.title }}
                        </p>
                     </a>
                     {% endfor %}

                  </div>
               </div>
            </aside>

            <section class="result__vacancy" id="fav__btn__wrapper">
               <div class="result__vacancy__srt-by">
                  <div class="sr-by__btn">
                     <form action="">
                        <div class="nav">
                           <button type="submit" name="search_btn">
                              <img src="{% static 'images/search__ic.svg' %}" alt="Sorry">
                           </button>
                           <input type="text" class="nav__inp" placeholder="Hünär, wezipe ýa-da açar sözler">
                           <input type="text" class="nav__inp__small" placeholder="Hünär">
                        </div>
                        <a href="">
                           <img src="{% static 'images/setting__btn.svg' %}" alt="Sorry" class="setting__btn">
                        </a>
                     </form>
                  </div>
               </div>
               <div id="result__vacancy__inner">
                  {% for vacancy in vacancies %}
                  <div class="vacancy__card" id="fav__btn__wrapper">
                     <div class="vac__card__inner">
                        <div class="vac__heading">
                           <h2 class="vac__heading__item">{{ vacancy.position }}</h2>
                           <h2 class="vac__heading__item">{{ vacancy.min_salary }} manat</h2>
                        </div>
                        <div class="vac__heading">
                           <h2 class="vac__heading__item">{{ vacancy.creation_date }}</h2>
                           <svg width="26px" height="24px">
                              <use xlink:href="#favorites__str" width="26px" height="24px" class="vac__ico"></use>
                           </svg>
                        </div>
                        <div class="vac__categories">
                           <span class="vac__cat__item two-col">{{ vacancy.sphere }}</span>
                           <span class="vac__cat__item">{{ vacancy.registration }}</span>
                           <span class="vac__cat__item">{{ vacancy.experience }}</span>
                           <span class="vac__cat__item">{{ vacancy.min_age }} лет</span>
                           <span class="vac__cat__item">{{ vacancy.sex }}</span>
                           <span class="vac__cat__item two-col">{{ vacancy.education }}</span>
                        </div>
                        <div class="vac__btns">
                           <a href="{% url 'vacancy-info-tm' vacancy.id %}" class="vac__btns__item purp__btn"
                              target="_blank">Giňişleýin</a>
                           <a href="{% url 'get-contact-tm' vacancy.contact.id %}" class="vac__btns__item green__btn"
                              target="_blank">Kontaktlary almak </a>
                        </div>
                     </div>
                  </div>
                  {% endfor %}
               </div>
            </section>
         </div>
      </div>
   </div>
   {% include 'main/footer.html' %}
</div>
<script src="{% static 'tm_scripts/favourtie.js' %}"></script>
<script src="{% static 'tm_scripts/home_user_type.js' %}"></script>
{% endblock %}