{% extends "main/base.html" %}
{% load static %}
{% block content %}
<div class="container__main pad-0 w-1920">
   <header class="header-wavy">
      <div class="container__content header-wavy__inner">
         <img src="{% static 'images/header/Ishim__logo.png' %}" alt="Sorry got some error" class="header__pic">
         <div class="header__loc">
            <form action="">
               <select name="interface__lang" id=""
                  onchange="window.location.href=this.value" autocomplete="off">
                  <option value="/" class="header__loc__current">RU</option>
                  <option value="/tm" class="header__loc__current" selected>TM</option>
               </select>
            </form>
         </div>
      </div>
   </header>

   <div class="reg-u-t container__content">
      <div class="reg-u-t__inner">
         <h1 class="reg-u-t__title">
            Sahypanyň ähli funksiýalardan peýdalanmak üçin “işim” web sahypasynda hasap açyň
         </h1>
         <div class="reg-u-t__content">
            <div class="reg-u-t__item">
               <h2 class="reg-u-t__item__title">Men iş gözleýärin</h2>
               <span class="reg-u-t__item__txt">
                  Rezýume ýerleşdirmek we boş wezipeleri gözlemek
               </span>
               <a href="{% url 'create-employee-tm' %}" class="reg-u-t__item__btn purp__btn link-w">
                  Dowam et
                  <img src="{% static 'images/check__mark.svg' %}" alt="Sorry got some error" class="rot--90">
               </a>
            </div>
            <div class="reg-u-t__row"></div>
            <div class="reg-u-t__item">
               <h2 class="reg-u-t__item__title">Işgär gözleýärin</h2>
               <span class="reg-u-t__item__txt">
                  Wakansiýa ýerleşdirmek we rezýumeler boýunça işgärleri gözlemek
               </span>
               <a href="{% url 'hirer-type-tm' %}" class="reg-u-t__item__btn purp__btn link-w">
                  Dowam et
                  <img src="{% static 'images/check__mark.svg' %}" alt="Sorry got some error"
                     class="header__loc_check_mark rot--90">
               </a>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}