{% extends "main/base.html" %}
{% load static %}
{% block content %}
<div class="container__main pad-0 w-1920">
   {% include 'main/header_employee.html' %}


   <div class="reg-user-conf container__content">
      <div class="reg-user-conf__inner">
         <div class="reg-user-conf__content">
            <h1 class="reg-user-conf__title">Создание резюме</h1>

            <form action="" class="reg-user-conf__form" method="post">
               {% csrf_token %}
               <div class="user-full-name">
                  <div class="user-title">
                     <h2>Имя</h2>
                     <h2>Фамилия</h2>
                  </div>
                  <input required type="text" class="user-name" value="{{ cv.first_name }}" name="first_name"
                     id="user__name">

                  <input required type="text" class="user-surname" value="{{ cv.last_name }}" name="last_name"
                     id="user__surname">
               </div>

               <div class="user-birth-date">
                  <h2>Дата рождения</h2>
                  <input required type="tel" class="user-bd__date user-bd__item" name="birth_date__date"
                     id="user__bd__date" value="{{ cv.birth_date|date:" d" }}" placeholder="03">
                  <select required name="birth_date__month" id="user__bd__mon" class="user-bd__item user-select-bg">
                     <option {% if cv.birth_date|date:"m" == 1 %}selected{% endif %} value="01">Январь</option>
                     <option {% if cv.birth_date|date:"m" == 2 %}selected{% endif %} value="02">Февраль</option>
                     <option {% if cv.birth_date|date:"m" == 3 %}selected{% endif %} value="03">Март</option>
                     <option {% if cv.birth_date|date:"m" == 4 %}selected{% endif %} value="04">Апрель</option>
                     <option {% if cv.birth_date|date:"m" == 5 %}selected{% endif %} value="05">Май</option>
                     <option {% if cv.birth_date|date:"m" == 6 %}selected{% endif %} value="06">Июнь</option>
                     <option {% if cv.birth_date|date:"m" == 7 %}selected{% endif %} value="07">Июль</option>
                     <option {% if cv.birth_date|date:"m" == 8 %}selected{% endif %} value="08">Август</option>
                     <option {% if cv.birth_date|date:"m" == 9 %}selected{% endif %} value="09">Сентябрь</option>
                     <option {% if cv.birth_date|date:"m" == 10 %}selected{% endif %} value="10">Октябрь</option>
                     <option {% if cv.birth_date|date:"m" == 11 %}selected{% endif %} value="11">Ноябрь</option>
                     <option {% if cv.birth_date|date:"m" == 12 %}selected{% endif %} value="12">Декабрь</option>
                  </select>

                  <select required name="birth_date__year" id="user__bd__year" class="user-bd__item user-select-bg">
                     <option selected value="{{ cv.birth_date|date:" Y" }}">{{ cv.birth_date|date:"Y" }}</option>
                     <option value="2004">2004</option>
                     <option value="2003">2003</option>
                     <option value="2002">2002</option>
                     <option value="2001">2001</option>
                     <option value="2000">2000</option>
                     <option value="1999">1999</option>
                     <option value="1998">1998</option>
                     <option value="1997">1997</option>
                     <option value="1996">1996</option>
                     <option value="1995">1995</option>
                     <option value="1994">1994</option>
                     <option value="1993">1993</option>
                     <option value="1992">1992</option>
                     <option value="1991">1991</option>
                     <option value="1990">1990</option>
                     <option value="1989">1989</option>
                     <option value="1988">1988</option>
                     <option value="1987">1987</option>
                     <option value="1986">1986</option>
                     <option value="1985">1985</option>
                     <option value="1984">1984</option>
                     <option value="1983">1983</option>
                     <option value="1982">1982</option>
                     <option value="1981">1981</option>
                     <option value="1980">1980</option>
                     <option value="1979">1979</option>
                     <option value="1978">1978</option>
                     <option value="1977">1977</option>
                     <option value="1976">1976</option>
                     <option value="1975">1975</option>
                     <option value="1974">1974</option>
                     <option value="1973">1973</option>
                     <option value="1972">1972</option>
                     <option value="1971">1971</option>
                     <option value="1970">1970</option>
                     <option value="1969">1969</option>
                     <option value="1968">1968</option>
                     <option value="1967">1967</option>
                     <option value="1966">1966</option>
                     <option value="1965">1965</option>
                     <option value="1964">1964</option>
                     <option value="1963">1963</option>
                     <option value="1962">1962</option>
                     <option value="1961">1961</option>
                     <option value="1960">1960</option>
                     <option value="1959">1959</option>
                     <option value="1958">1958</option>
                     <option value="1957">1957</option>
                  </select>
               </div>

               <div class="user-info-block user-mob-block">
                  <h2>Мобильный телефон</h2>
                  <div class="user-mob-pic-wrapper">
                     <img src="{% static 'images/info__pic.svg' %}" alt="Sorry got some error" class="user-mob-pic">
                     <p class="user-mob-info">
                        Укажите номер по которому лучше всего можно связаться с вами
                     </p>
                  </div>
                  <input required type="tel" class="user-text" value="{{ cv.mobile_num }} " name="mobile_num"
                     id="user__number">
               </div>

               <div class="user-info-block">
                  <h2>Эл. почта</h2>
                  <input type="text" class="user-text" value="{{ cv.email }}" name="email" id="user__email">
               </div>
               <div class="user-info-block" id="user__registration__wrapper">
                  <h2>Прописка</h2>
                  <select name="registration" id="user__registration" class="user-text user-select-bg">
                     <option selected value="{{ cv.registration }}">{{ cv.registration }}</option>
                     <option value="Ашхабад">Ашхабад</option>
                     <option value="Аннау">Аннау</option>
                     <option value="Бахарден">Бахарден</option>
                     <option value="Бизмеин">Бизмеин</option>
                     <option value="Гёкдепе">Гёкдепе</option>
                     <option value="Кахка">Кахка</option>
                     <option value="Теджен">Теджен</option>
                     <option value="Балканабад">Балканабад</option>
                     <option value="Берекет">Берекет</option>
                     <option value="anothr__city">Другой город</option>
                  </select>
               </div>

               <div class="user-info-block">
                  <h2>Пол</h2>
                  <div class="user-gender-block" id="gender__block__wrapper">
                     <input required type="radio" id="man-id" value="{{ cv.sex }}" name="sex" checked>
                     <label for="man-id" class="user-gender">{{ cv.sex }}</label>

                     <input required type="radio" id="man-id" value="Мужчина" name="sex">
                     <label for="man-id" class="user-gender">Мужчина</label>

                     <input required type="radio" id="woman-id" value="Женщина" name="sex">
                     <label for="woman-id" class="user-gender">Женщина</label>
                  </div>
               </div>

               <div class="user-info-block">
                  <h2 class="fw500">Должность</h2>
                  <h3>Какую профессию вы ищете?</h3>
                  <div class="user-inp-blok">
                     <input required type="text" class="user-text" value="{{ cv.position }}" placeholder=""
                        name="position" id="user__position">
                  </div>
               </div>

               <div class="user-info-block" id="industry__wrapper">
                  <h2 class="fw500">Сфера деятельности</h2>
                  <select required name="sphere" id="user__industry" class="user-text user-select-bg">
                     <option selected value="{{ cv.sphere }}">{{ cv.sphere }}</option>
                     <option value="IT">IT</option>
                     <option value="Design">Design</option>
                     <option value="Marketing">Marketing</option>
                     <option value="Строительство">Строительство</option>
                     <option value="">Другое</option>
                  </select>
               </div>

               <div class="user-info-block">
                  <!-- <h2>Зарплата</h2>
                     <div class="user-inp-blok-salary">
                        <div class="user-inp-blok-salary__item">
                           <span>от</span>
                           <input type="text" class="user-text-w45" value="">
                           <span>ман.</span>
                        </div>
                        <div class="user-inp-blok-salary__row"></div>
                        <div class="user-inp-blok-salary__item">
                           <span>до</span>
                           <input type="text" class="user-text-w45" value="">
                           <span>ман.</span>
                        </div>
                     </div> -->
                  <h2>Зарплата</h2>
                  <div class="user-inp-blok">
                     <input required type="text" class="user-text" value="{{ cv.min_salary }}"
                        placeholder="Укажите желаемую зарплату" name="min_salary" id="user__salary">
                  </div>
               </div>

               <div class="user-info-block">
                  <h2 class="fw500">Занятость</h2>
                  <div class="user__exp__block" id="user__busyness__wrapper">
                     <input required type="radio" id="empl11" value="{{ cv.busyness }}" name="busyness" checked>
                     <label for="empl11" class="user__exp__item">{{ cv.busyness }}</label>

                     <input required type="radio" id="empl1" value="полная занятость" name="busyness">
                     <label for="empl1" class="user__exp__item">полная занятость</label>

                     <input required type="radio" id="empl2" value="проектная работа" name="busyness">
                     <label for="empl2" class="user__exp__item">проектная работа</label>

                     <input required type="radio" id="empl3" value="частная занятость" name="busyness">
                     <label for="empl3" class="user__exp__item">частная занятость</label>

                     <input required type="radio" id="empl4" value="стажировка" name="busyness">
                     <label for="empl4" class="user__exp__item">стажировка</label>
                  </div>
               </div>

               <div class="user-info-block">
                  <h2 class="fw500">График работы</h2>
                  <div class="user__exp__block" id="user__schedule__wrapper">
                     <input required type="radio" id="schedule11" value="{{ cv.work_graph }}" name="work_graph" checked>
                     <label for="schedule11" class="user__exp__item">{{ cv.work_graph }}</label>

                     <input required type="radio" id="schedule1" value="полный рабочий день" name="work_graph">
                     <label for="schedule1" class="user__exp__item">полный рабочий день</label>

                     <input required type="radio" id="schedule2" value="сменный график" name="work_graph">
                     <label for="schedule2" class="user__exp__item">сменный график</label>

                     <input required type="radio" id="schedule3" value="гибкий график" name="work_graph">
                     <label for="schedule3" class="user__exp__item">гибкий график</label>

                     <input required type="radio" id="schedule4" value="удаленная работа" name="work_graph">
                     <label for="schedule4" class="user__exp__item">удаленная работа</label>
                  </div>
               </div>


               <div class="user-info-block" id="user__exp__btn__wrap">
                  {% for cvattr in cv.cvattr_set.all %}
                  {% if cvattr.workexperience %}
                  <div id="user__exp__wrap">
                     <div>
                        <h2 class="fw500">Опыт работы</h2>
                        <h2>Какую должность вы занимали?</h2>
                        <input type="text" class="user-text user__txt__exp__pos"
                           value="{{ cvattr.workexperience.position }}" name="exp_position">

                        <h2>Как называлсь организация?</h2>
                        <input type="text" class="user-text user__last__comp__name__exp"
                           value="{{ cvattr.workexperience.org_name }}" name="org_name">

                        <h2 class="fw500 user-info-block-title">Обязанности</h2>
                        <div class="user__info__block__txt__area__wrapper">
                           <textarea name="responsibilities" id="job__resp"
                              class="user-info-block-txtarea user__response__exp"
                              placeholder="Расскажите обязанности и задачи которые вы выполняли на рабочем месте">{{ cvattr.workexperience.responsibilities }}</textarea>
                        </div>
                        <div class="user__time">
                           <h2>Начало работы</h2>
                           <select name="exp_start__month" id="user__exp__time__start__mon"
                              class="user__time__item user-select-bg user__time__start__mon__exp">
                              <option {% if cvattr.workexperience.start_year|slice:"5:7" == "01" %}selected{% endif %}
                                 value="01">Январь</option>
                              <option {% if cvattr.workexperience.start_year|slice:"5:7" == "02" %}selected{% endif %}
                                 value="02">Февраль</option>
                              <option {% if cvattr.workexperience.start_year|slice:"5:7" == "03" %}selected{% endif %}
                                 value="03">Март</option>
                              <option {% if cvattr.workexperience.start_year|slice:"5:7" == "04" %}selected{% endif %}
                                 value="04">Апрель</option>
                              <option {% if cvattr.workexperience.start_year|slice:"5:7" == "05" %}selected{% endif %}
                                 value="05">Май</option>
                              <option {% if cvattr.workexperience.start_year|slice:"5:7" == "06" %}selected{% endif %}
                                 value="06">Июнь</option>
                              <option {% if cvattr.workexperience.start_year|slice:"5:7" == "07" %}selected{% endif %}
                                 value="07">Июль</option>
                              <option {% if cvattr.workexperience.start_year|slice:"5:7" == "08" %}selected{% endif %}
                                 value="08">Август</option>
                              <option {% if cvattr.workexperience.start_year|slice:"5:7" == "09" %}selected{% endif %}
                                 value="09">Сентябрь</option>
                              <option {% if cvattr.workexperience.start_year|slice:"5:7" == "10" %}selected{% endif %}
                                 value="10">Октябрь</option>
                              <option {% if cvattr.workexperience.start_year|slice:"5:7" == "11" %}selected{% endif %}
                                 value="11">Ноябрь</option>
                              <option {% if cvattr.workexperience.start_year|slice:"5:7" == "12" %}selected{% endif %}
                                 value="12">Декабрь</option>
                           </select>

                           <div class="horizontal__row"></div>

                           <select name="exp_start__year" id="user__exp__time__start__year"
                              class="user__time__item user-select-bg user__time__start__year__exp">
                              <option selected value="{{  cvattr.workexperience.start_year|slice:" :4" }}">{{ cvattr.workexperience.start_year|slice:":4" }}</option>
                              <option value="2019">2019</option>
                              <option value="2018">2018</option>
                              <option value="2017">2017</option>
                              <option value="2016">2016</option>
                              <option value="2015">2015</option>
                              <option value="2014">2014</option>
                              <option value="2013">2013</option>
                              <option value="2012">2012</option>
                              <option value="2011">2011</option>
                              <option value="2010">2010</option>
                              <option value="2009">2009</option>
                              <option value="2008">2008</option>
                              <option value="2007">2007</option>
                              <option value="2006">2006</option>
                              <option value="2005">2005</option>
                              <option value="2004">2004</option>
                              <option value="2003">2003</option>
                              <option value="2002">2002</option>
                              <option value="2001">2001</option>
                              <option value="2000">2000</option>
                              <option value="1999">1999</option>
                              <option value="1998">1998</option>
                              <option value="1997">1997</option>
                              <option value="1996">1996</option>
                              <option value="1995">1995</option>
                              <option value="1994">1994</option>
                              <option value="1993">1993</option>
                              <option value="1992">1992</option>
                              <option value="1991">1991</option>
                              <option value="1990">1990</option>
                              <option value="1989">1989</option>
                              <option value="1988">1988</option>
                              <option value="1987">1987</option>
                              <option value="1986">1986</option>
                              <option value="1985">1985</option>
                              <option value="1984">1984</option>
                              <option value="1983">1983</option>
                              <option value="1982">1982</option>
                              <option value="1981">1981</option>
                              <option value="1980">1980</option>
                              <option value="1979">1979</option>
                              <option value="1978">1978</option>
                              <option value="1977">1977</option>
                              <option value="1976">1976</option>
                              <option value="1975">1975</option>
                           </select>
                        </div>

                        <div class="user__time">
                           <h2>Окончание работы</h2>
                           <select name="exp_end__month" id="user__exp__time__end__mon" autocomplete="1098539801375"
                              class="user__time__item user-select-bg user__time__end__mon__exp">
                              <option {% if cvattr.workexperience.end_year|slice:"5:7" == "01" %}selected{% endif %}
                                 value="01">Январь</option>
                              <option {% if cvattr.workexperience.end_year|slice:"5:7" == 02 %}selected{% endif %}
                                 value="02">Февраль</option>
                              <option {% if cvattr.workexperience.end_year|slice:"5:7" == 03 %}selected{% endif %}
                                 value="03">Март</option>
                              <option {% if cvattr.workexperience.end_year|slice:"5:7" == 04 %}selected{% endif %}
                                 value="04">Апрель</option>
                              <option {% if cvattr.workexperience.end_year|slice:"5:7" == 05 %}selected{% endif %}
                                 value="05">Май</option>
                              <option {% if cvattr.workexperience.end_year|slice:"5:7" == 06 %}selected{% endif %}
                                 value="06">Июнь</option>
                              <option {% if cvattr.workexperience.end_year|slice:"5:7" == 07 %}selected{% endif %}
                                 value="07">Июль</option>
                              <option {% if cvattr.workexperience.end_year|slice:"5:7" == 08 %}selected{% endif %}
                                 value="08">Август</option>
                              <option {% if cvattr.workexperience.end_year|slice:"5:7" == 09 %}selected{% endif %}
                                 value="09">Сентябрь</option>
                              <option {% if cvattr.workexperience.end_year|slice:"5:7" == 10 %}selected{% endif %}
                                 value="10">Октябрь</option>
                              <option {% if cvattr.workexperience.end_year|slice:"5:7" == 11 %}selected{% endif %}
                                 value="11">Ноябрь</option>
                              <option {% if cvattr.workexperience.end_year|slice:"5:7" == 12 %}selected{% endif %}
                                 value="12">Декабрь</option>
                           </select>

                           <div class="horizontal__row"></div>

                           <select name="exp_end__year" id="user__exp__time__end__year"
                              class="user__time__item user-select-bg user__time__end__year__exp">
                              <option selected value="{{ cvattr.workexperience.end_year|slice:" :4" }}">{{ cvattr.workexperience.end_year|slice:":4" }}</option>
                              <option value="2019">2019</option>
                              <option value="2018">2018</option>
                              <option value="2017">2017</option>
                              <option value="2016">2016</option>
                              <option value="2015">2015</option>
                              <option value="2014">2014</option>
                              <option value="2013">2013</option>
                              <option value="2012">2012</option>
                              <option value="2011">2011</option>
                              <option value="2010">2010</option>
                              <option value="2009">2009</option>
                              <option value="2008">2008</option>
                              <option value="2007">2007</option>
                              <option value="2006">2006</option>
                              <option value="2005">2005</option>
                              <option value="2004">2004</option>
                              <option value="2003">2003</option>
                              <option value="2002">2002</option>
                              <option value="2001">2001</option>
                              <option value="2000">2000</option>
                              <option value="1999">1999</option>
                              <option value="1998">1998</option>
                              <option value="1997">1997</option>
                              <option value="1996">1996</option>
                              <option value="1995">1995</option>
                              <option value="1994">1994</option>
                              <option value="1993">1993</option>
                              <option value="1992">1992</option>
                              <option value="1991">1991</option>
                              <option value="1990">1990</option>
                              <option value="1989">1989</option>
                              <option value="1988">1988</option>
                              <option value="1987">1987</option>
                              <option value="1986">1986</option>
                              <option value="1985">1985</option>
                              <option value="1984">1984</option>
                              <option value="1983">1983</option>
                              <option value="1982">1982</option>
                              <option value="1981">1981</option>
                              <option value="1980">1980</option>
                              <option value="1979">1979</option>
                              <option value="1978">1978</option>
                              <option value="1977">1977</option>
                              <option value="1976">1976</option>
                              <option value="1975">1975</option>
                           </select>

                           <div class="user__time__checkbox__wrapper">
                              <input type="checkbox" class="user__time__checkbox" id="user__t__chk" name="user__t__chk"
                                 value="forpres">
                              <label for="user__t__chk" class="user__time__checkbox__label work_pres">Работаю по
                                 настоящее
                                 время</label>
                           </div>
                        </div>
                     </div>
                     {% endif %}
                     {% endfor %}

                  </div>



                  <div class="add__lang" id="addnew">
                     <span id="addnew">+</span>
                     <span id="addnew">Добавить опыт работы</span>
                  </div>
               </div>


               <div class="user-info-block" id="user__educ__btn__wrap">
                  {% for cvattr in cv.cvattr_set.all %}
                  {% if cvattr.education %}

                  <div class="" id="user__educ__container">
                     <div class="user__educ__wrapper" id="user__educ__wrap">
                        <h2 class="fw500">Образование</h2>
                        <div class="user__exp__block" id="user__education__wrapper">
                           <input required type="radio" id="educ1" value="{{ cvattr.education.degree }}"
                              name="edu_degrees0{{ forloop.counter }}" checked>
                           <label for="educ1" class="user__exp__item">{{ cvattr.education.degree }}</label>
                           <input required type="radio" id="educ1" value="среднее"
                              name="edu_degrees0{{ forloop.counter }}">
                           <label for="educ1" class="user__exp__item">среднее</label>
                           <input required type="radio" id="educ2" value="средне-специальное"
                              name="edu_degrees0{{ forloop.counter }}">
                           <label for="educ2" class="user__exp__item">средне-специальное</label>
                           <input required type="radio" id="educ3" value="неоконченное высшее"
                              name="edu_degrees0{{ forloop.counter }}">
                           <label for="educ3" class="user__exp__item">неоконченное высшее</label>
                           <input required type="radio" id="educ4" value="высшее"
                              name="edu_degrees0{{ forloop.counter }}">
                           <label for="educ4" class="user__exp__item">высшее</label>
                           <input required type="radio" id="educ6" value="магистр"
                              name="edu_degrees0{{ forloop.counter }}">
                           <label for="educ6" class="user__exp__item">магистр</label>
                           <input required type="radio" id="educ7" value="кандидат наук"
                              name="edu_degrees0{{ forloop.counter }}">
                           <label for="educ7" class="user__exp__item">кандидат наук</label>
                           <input required type="radio" id="educ8" value="доктор наук"
                              name="edu_degrees0{{ forloop.counter }}">
                           <label for="educ8" class="user__exp__item">доктор наук</label>
                        </div>


                        <h2>Учебное заведение</h2>
                        <input type="text" class="user-text user__edu__instance"
                           value="{{ cvattr.education.establishment }}" name="establishment" id="user__edu__inst">




                        <h2>Факультет</h2>
                        <input type="text" class="user-text" value="{{ cvattr.education.faculty }}" name="faculty"
                           id="faculty">



                        <h2>Специализация</h2>
                        <input type="text" class="user-text user__specialize"
                           value="{{ cvattr.education.specialization }}" name="specialization" id="user__spec">



                        <div class="user__time">
                           <div class="user__titles">
                              <h2>Год начала</h2>
                              <h2>Год окончания</h2>
                           </div>
                           <div class="user__time__inner">
                              <select name="start_year_edu" id="user__time__educ__start__year"
                                 class="user__time__item user-select-bg user__time__start__year__educ">
                                 <option selected value="{{ cvattr.education.start_year }}">{{
                                    cvattr.education.start_year }}</option>
                                 <option value="2019">2019</option>
                                 <option value="2018">2018</option>
                                 <option value="2017">2017</option>
                                 <option value="2016">2016</option>
                                 <option value="2015">2015</option>
                                 <option value="2014">2014</option>
                                 <option value="2013">2013</option>
                                 <option value="2012">2012</option>
                                 <option value="2011">2011</option>
                                 <option value="2010">2010</option>
                                 <option value="2009">2009</option>
                                 <option value="2008">2008</option>
                                 <option value="2007">2007</option>
                                 <option value="2006">2006</option>
                                 <option value="2005">2005</option>
                                 <option value="2004">2004</option>
                                 <option value="2003">2003</option>
                                 <option value="2002">2002</option>
                                 <option value="2001">2001</option>
                                 <option value="2000">2000</option>
                                 <option value="1999">1999</option>
                                 <option value="1998">1998</option>
                                 <option value="1997">1997</option>
                                 <option value="1996">1996</option>
                                 <option value="1995">1995</option>
                                 <option value="1994">1994</option>
                                 <option value="1993">1993</option>
                                 <option value="1992">1992</option>
                                 <option value="1991">1991</option>
                                 <option value="1990">1990</option>
                                 <option value="1989">1989</option>
                                 <option value="1988">1988</option>
                                 <option value="1987">1987</option>
                                 <option value="1986">1986</option>
                                 <option value="1985">1985</option>
                                 <option value="1984">1984</option>
                                 <option value="1983">1983</option>
                                 <option value="1982">1982</option>
                                 <option value="1981">1981</option>
                                 <option value="1980">1980</option>
                                 <option value="1979">1979</option>
                                 <option value="1978">1978</option>
                                 <option value="1977">1977</option>
                                 <option value="1976">1976</option>
                                 <option value="1975">1975</option>
                              </select>

                              <div class="horizontal__row"></div>


                              <select name="end_year_edu" id="user__time__educ__end__year"
                                 class="user__time__item user-select-bg user__time__start__year__educ">
                                 <option selected value="{{ cvattr.education.end_year }}">{{ cvattr.education.end_year
                                    }}</option>
                                 <option value="2019">2019</option>
                                 <option value="2018">2018</option>
                                 <option value="2017">2017</option>
                                 <option value="2016">2016</option>
                                 <option value="2015">2015</option>
                                 <option value="2014">2014</option>
                                 <option value="2013">2013</option>
                                 <option value="2012">2012</option>
                                 <option value="2011">2011</option>
                                 <option value="2010">2010</option>
                                 <option value="2009">2009</option>
                                 <option value="2008">2008</option>
                                 <option value="2007">2007</option>
                                 <option value="2006">2006</option>
                                 <option value="2005">2005</option>
                                 <option value="2004">2004</option>
                                 <option value="2003">2003</option>
                                 <option value="2002">2002</option>
                                 <option value="2001">2001</option>
                                 <option value="2000">2000</option>
                                 <option value="1999">1999</option>
                                 <option value="1998">1998</option>
                                 <option value="1997">1997</option>
                                 <option value="1996">1996</option>
                                 <option value="1995">1995</option>
                                 <option value="1994">1994</option>
                                 <option value="1993">1993</option>
                                 <option value="1992">1992</option>
                                 <option value="1991">1991</option>
                                 <option value="1990">1990</option>
                                 <option value="1989">1989</option>
                                 <option value="1988">1988</option>
                                 <option value="1987">1987</option>
                                 <option value="1986">1986</option>
                                 <option value="1985">1985</option>
                                 <option value="1984">1984</option>
                                 <option value="1983">1983</option>
                                 <option value="1982">1982</option>
                                 <option value="1981">1981</option>
                                 <option value="1980">1980</option>
                                 <option value="1979">1979</option>
                                 <option value="1978">1978</option>
                                 <option value="1977">1977</option>
                                 <option value="1976">1976</option>
                                 <option value="1975">1975</option>
                              </select>
                           </div>
                        </div>
                     </div>
                  </div>
                  {% endif %}
                  {% endfor %}
                  <div class="add__lang">
                     <span id="addnew">+</span>
                     <span id="addnew">Добавить образование</span>
                  </div>
               </div>

               <div class="user-info-block" id="user__progs__btn__wrapper">
                  <h2>Знание программ</h2>

                  <div id="user__progs__wrapper">
                     {% for cvattr in cv.cvattr_set.all %}
                     {% if cvattr.knownprogram %}
                     <input type="text" class="user-text user__progs" value="{{ cvattr.knownprogram.program }}"
                        name="program" id="user__prog" placeholder="1С">
                     {% endif %}
                     {% endfor %}
                  </div>
                  <div class="add__lang">
                     <span id="addnew">+</span>
                     <span id="addnew">Добавить программу</span>
                  </div>
               </div>

               <div class="user-info-block" id="user__lang__btn__wrapper">
                  <h2 class="fw500 user-info-block-title">Владение языками</h2>
                  {% for cvattr in cv.cvattr_set.all %}
                  {% if cvattr.knownlanguage %}
                  <div id="user__lang__wrap">

                     <div class="user-info-block-subtitle">
                        <div>Язык</div>
                        <div>Уровень владения</div>
                     </div>

                     <div class="user-info-block__lang__item">
                        <input type="text" class="user-info-block__lang__item__txt" name="language" id="user__lang"
                           value="{{ cvattr.knownlanguage.language }}" placeholder="Туркменский">
                        <select name="lang__lev" id="level" class="user-info-block__lang__item__select">
                           <option selected value="{{ cvattr.knownlanguage.level }}">{{ cvattr.knownlanguage.level }}
                           </option>
                           <option value="Базовый">Базовый</option>
                           <option value="Продвинутый">Продвинутый</option>
                           <option value="Свободно">Свободно</option>
                           <option value="Совершенный">Совершенный</option>
                           <option value="Профильный">Профильный</option>
                        </select>
                     </div>

                  </div>
                  {% endif %}
                  {% endfor %}


                  <div class="add__lang">
                     <span id="addnew">+</span>
                     <span id="addnew">Указать ещё</span>
                  </div>
               </div>
               <div class="user-info-block ">
                  <h2 class="fw500 user-info-block-title">
                     О себе
                  </h2>
                  <div class="user__info__block__txt__area__wrapper">
                     <textarea name="about" id="user__about" class="user-info-block-txtarea"
                        placeholder="Расскажите о своих знаниях, навыках и личных качествах, которые могут быть поезны работодателям">{{ cv.about }}</textarea>
                  </div>
               </div>
               <input required type="submit" class="continue__btn green__btn m-0auto" id="btn"
                  value="Сохранить и опубликовать" name="continue">

               <a href="" class="skip__link m-0auto">
                  Пропустить
               </a>
            </form>
         </div>
      </div>
   </div>
</div>
<script src="{% static 'scripts/header.js' %}"></script>
<script src="{% static 'scripts/create__res.js' %}"></script>
<script src="{% static 'scripts/select_another_city_registry.js' %}"></script>
{% endblock %}