<!DOCTYPE html>
<html lang="ru">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description"
        content="Ishim это удобный сервис для поиска работы и сотрудников по всему Туркменистану любого профиля!">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Ishim поиск работы и сотрудников</title>
</head>

<body>
    {% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    {% endif %}

    {% block content %}{% endblock %}
</body>

</html>