{% extends "main/base.html" %}
{% load static %}
{% block content %}
<div class="container__main pad-0 w-1920">
   {% include 'main/header_employee.html' %}
   <div class="priv__data mt-60">
      <div class="container__content">
         <div class="priv__data__inner" id="delete__wrap">
            <h1 class="priv__data__title">Личные данные</h1>

            <div class="priv__data__item">
               <div>Имия</div>
               <div>{{ request.user.employee.first_name }}</div>

               <a href="{% url 'edit-first-name' %}" class="priv__data__item__action">изменить</a>
               <a href="{% url 'edit-first-name' %}" class="priv__data__item__action__mob">
                  <img src="{% static 'images/pen__pic.svg' %}" alt="Sorry got some error">
               </a>
            </div>

            <div class="priv__data__item">
               <div>Фамилия</div>
               <div>{{ request.user.employee.last_name }}</div>

               <a href="{% url 'edit-last-name' %}" class="priv__data__item__action">изменить</a>
               <a href="{% url 'edit-last-name' %}" class="priv__data__item__action__mob">
                  <img src="{% static 'images/pen__pic.svg' %}" alt="Sorry got some error">
               </a>
            </div>

            <div class="priv__data__item">
               <div>Электронная почта</div>
               <div>{{ request.user.email }}</div>

               <a href="#" class="priv__data__item__action">изменить</a>
               <a href="#" class="priv__data__item__action__mob">
                  <img src="{% static 'images/pen__pic.svg' %}" alt="Sorry got some error">
               </a>
            </div>

            <div class="priv__data__item">
               <div>Мобильный телефон</div>
               <div>{{ request.user.employee.phone_num }}</div>

               <a href="{% url 'edit-phone' %}" class="priv__data__item__action">изменить</a>
               <a href="{% url 'edit-phone' %}" class="priv__data__item__action__mob">
                  <img src="{% static 'images/pen__pic.svg' %}" alt="Sorry got some error">
               </a>
            </div>

            <div class="priv__data__item">
               <div>Пароль</div>
               <div>********</div>

               <a href="{% url 'edit-password' %}" class="priv__data__item__action">изменить</a>
               <a href="{% url 'edit-password' %}" class="priv__data__item__action__mob">
                  <img src="{% static 'images/pen__pic.svg' %}" alt="Sorry got some error">
               </a>
            </div>

            <div class="priv__data__item">
               <div>Город</div>
               <div>{{ request.user.employee.city }}</div>

               <a href="{% url 'edit-city' %}" class="priv__data__item__action">изменить</a>
               <a href="{% url 'edit-city' %}" class="priv__data__item__action__mob">
                  <img src="{% static 'images/pen__pic.svg' %}" alt="Sorry got some error">
               </a>
            </div>

            <div class="priv__data__item__action" id="delete__btn">Удаление</div>

         </div>
      </div>
   </div>
</div>
<script src="{% static 'scripts/header.js' %}"></script>
<script src="{% static 'scripts/delete_account.js' %}"></script>
{% endblock %}