<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <link rel="stylesheet" href="../main.css">
   <title></title>
</head>

<body>
   <div class="container__main pad-0 w-1920">
      <header class="header">
         <div class="container__content">
            <div class="header__content">
               <section class="header__sec__type3 ">
                  <img src="../src/images/header/Ishim__logo.png" alt="Sorry got some error" class="header__pic ">

               </section>
               <section class="header__sec__type3">
                  <form action="">
                     <div class="nav">
                        <button type="submit" name="search_btn">
                           <button type="submit" name="search_btn">
                              <img src="../src/images/search__ic.svg" alt="Sorry">
                           </button>
                        </button>
                        <input type="text" class="nav__inp" placeholder="Профессия, должность или ключевые слова"
                           name="search_inp">
                        <input type="text" class="nav__inp__small" placeholder="Профессия" name="search_inp">
                     </div>
                     <a href="">
                        <img src="../src/images/nav__setting.png" alt="Sorry" class="nav__set__pic">
                     </a>
                  </form>
               </section>

               <section class="header__sec__type3">
                  <div class="header__user__pic__wrap">
                     <img src="../src/images/user__def__ic.png" alt="Sorry" class="header__user__pic">
                  </div>
                  <button class="hamburger hamburger-line">
                     <span></span>
                  </button>
               </section>
            </div>
         </div>
      </header>
      <div class="container__content">
         <div class="nav__burger disappear">
            <h1 class="nav__title">Меню</h1>

            <a href="" class="nav__link">Каталог компаний</a>

            <a href="" class="nav__link">Статьи</a>

            <select name="interface__lang" onchange="window.location.href=this.value" autocomplete="off"
               class="nav__link">
               <option selected disabled hidden class="header__loc__current">Dil</option>
               <option value="/" class="header__loc__current">RU</option>
               <option value="/tm" class="header__loc__current">TM</option>
            </select>



            <a href="" class="nav__link">История поиска</a>

            <a href="" class="nav__link">Условия использования и политика конфиденциальности</a>

            <a href="" class="nav__link">Связаться с нами</a>
         </div>
      </div>
      <div class="container__content">
         <div class="h__res__info">
            <h1 class="my__responses__title">
               Уведомления об откликах
            </h1>

            <section class="result__vacancy">
               <div class="vacancy__card">
                  <div class="vac__card__inner">
                     <div class="vac__heading">
                        <h2 class="vac__heading__item">Помощник Бухгалтера</h2>
                        <h2 class="vac__heading__item">2000 манат</h2>
                     </div>
                     <div class="vac__heading">
                        <h2 class="vac__heading__item">22:04</h2>
                        <svg width="26px" height="24px">
                           <use xlink:href="#favorites__str" width="26px" height="24px" class="vac__ico" data-link="">
                           </use>
                        </svg>
                     </div>
                     <div class="vac__categories">
                        <span class="vac__cat__item two-col">Бухгалтерия и управление</span>
                        <span class="vac__cat__item">Ашхабад</span>
                        <span class="vac__cat__item">Опыт 5 лет</span>
                        <span class="vac__cat__item">28 лет</span>
                        <span class="vac__cat__item">Пол мужской</span>
                        <span class="vac__cat__item two-col">Образование среднее</span>
                     </div>

                     <div class="vac__btns">
                        <a href="" class="vac__btns__item purp__btn" target="_blank">Подробнее</a>
                     </div>
                  </div>
               </div>
            </section>
            <h3 class="my__responses__subtitle">
               На эту вакансию откликнулись 20 человек
            </h3>


            <div class="h__notif__item">
               <h3 class="h__notif__item__title">Бухгалтер</h3>

               <div class="h__notif__item__txt">Довран Байханов</div>
               <div class="h__notif__item__txt">Откликнулся 10 декабря</div>
            </div>


         </div>
      </div>

      <footer class="footer">
         <div class="container__content">
            <section class="footer__inner">
               <div class="footer__content">
                  <div class="footer__item">

                     <img src="../src/images/header/Ishim__logo.png" alt="Sorry got some error" class="footer__pic">

                     <a href="" class="footer__text">О нас</a>
                     <a href="" class="footer__text">Каталог компаний</a>
                     <span href="mailto:ishim.tm@gmail.com" class="footer__text">ishim.tm@gmail.com</span>

                     <div class="footer__row"></div>

                     <span class="footer__text">Все права защищены</span>

                  </div>

                  <div class="footer__item">

                     <div class="footer__social">
                        <img src="../src/images/footer/facebook__icon.svg" alt="facebook logo"
                           class="footer__social__pic">
                        <img src="../src/images/footer/instagram__icon.svg" alt="instagram logo"
                           class="footer__social__pic">
                        <img src="../src/images/footer/imo__icon.svg" alt="imo logo" class="footer__social__pic">
                     </div>

                     <span class="footer__text">На сайте</span>
                     <span class="footer__text">1000 вакансий</span>
                     <span class="footer__text">2000 резюме</span>
                     <span class="footer__text">103 компаний и</span>
                     <span class="footer__text">работодателей</span>

                  </div>
               </div>
            </section>
         </div>
      </footer>
   </div>
   <script src="{% static 'scripts/header.js' %}"></script>

</body>

</html>