{% extends "main/base.html" %}
{% load static %}
{% block content %}
<div class="container__main pad-0 w-1920">
   <header class="header-wavy">
      <div class="container__content header-wavy__inner">
         <img src="{% static 'images/header/Ishim__logo.png' %}" alt="Sorry got some error" class="header__pic">
         <div class="header__loc">
            <form action="">
               <select name="interface__lang" id="" onchange="window.location.href=this.value" autocomplete="off">
                  <option value="/" class="header__loc__current" selected>RU</option>
                  <option value="/tm" class="header__loc__current">TM</option>
               </select>
            </form>
         </div>
      </div>
   </header>


   <div class="reg-user-conf container__content">
      <div class="reg-user-conf__inner">
         <div class="reg-user-conf__content">
            <h1 class="reg-user-conf__title">Войти</h1>

            <form action="" class="reg-user-conf__form" method="post" enctype="multipart/form-data" id="form__id">
               {% csrf_token %}
               <div class="user-info-block">
                  <h2>Эл. почта</h2>
                  <input required type="text" class="user-text" value="" name="email">
               </div>
               <div class="user-info-block">
                  <h2>Пароль</h2>
                  <div class="user-inp-blok">
                     <input required type="password" class="user-text" value="" name="password">
                     <img src="{% static 'images/close__eye.svg' %}" alt="Sorry got some error" class="user-block-pic"
                        id="eye__btn">
                  </div>

               </div>
               <input type="submit" class="continue__btn purp__btn m-0auto" value="Продолжить">

            </form>
         </div>
      </div>
   </div>
</div>
<script src="{% static 'scripts/select_another_city.js' %}"></script>
<script src="{% static 'scripts/show_hide_pass.js' %}"></script>
{% endblock %}