{% extends "main/base.html" %}
{% load static %}
{% block content %}
<div class="container__main pad-0 w-1920">
   <header class="header-wavy">
      <div class="container__content header-wavy__inner">
         <img src="{% static 'images/header/Ishim__logo.png' %}" alt="Sorry got some error" class="header__pic">
         <div class="header__loc">
            <form action="">
               <select name="interface__lang" id="" onchange="window.location.href=this.value" autocomplete="off">
                  <option value="/" class="header__loc__current" selected>RU</option>
                  <option value="/tm" class="header__loc__current">TM</option>
               </select>
            </form>
         </div>
      </div>
   </header>

   <div class="reg-u-t container__content">
      <div class="reg-u-t__inner">
         <h1 class="reg-u-t__title">
            Пройдите регистрацию на сайте ishim, чтобы
            получить доступ ко всем функциям сайта
         </h1>
         <div class="reg-u-t__content">
            <div class="reg-u-t__item">
               <h2 class="reg-u-t__item__title">Я ищу работу</h2>
               <span class="reg-u-t__item__txt">
                  Размещение резюме и поиск вакансий
               </span>
               <a href="{% url 'create-employee' %}" class="reg-u-t__item__btn purp__btn link-w">
                  Продолжить
                  <img src="{% static 'images/check__mark.svg' %}" alt="Sorry got some error" class="rot--90">
               </a>
            </div>
            <div class="reg-u-t__row"></div>
            <div class="reg-u-t__item">
               <h2 class="reg-u-t__item__title">Я ищу сотрудников</h2>
               <span class="reg-u-t__item__txt">
                  Размещение вакансий и поиск сотрудников по резюме
               </span>
               <a href="{% url 'hirer-type' %}" class="reg-u-t__item__btn purp__btn link-w">
                  Продолжить
                  <img src="{% static 'images/check__mark.svg' %}" alt="Sorry got some error"
                     class="header__loc_check_mark rot--90">
               </a>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}